In [22]:
import yfinance as yf
import pandas as pd
import math
import numpy_financial as npf
import statistics
import datetime
from dateutil.relativedelta import relativedelta
from pandas.core.frame import DataFrame
from scipy.stats import gmean

## 設定定期投入金額起始結束日期投資組合配比

In [23]:
start='2020-1-1'
end='2022-12-31'
ratio=[0.5,0.5]
stock=['KO','PYPL']
cashflows=['None','Contribute_fixed']
contribution_amount=1000
contribution_ratio_type=['fixed', 'drift']

In [24]:
PMT=contribution_amount
start_dt=datetime.datetime.strptime(start,"%Y-%m-%d")
start_dt=(start_dt-relativedelta(months=+1)).strftime("%Y-%m-%d")
stock_name=[]
stock_list=[]
end_dt=datetime.datetime.strptime(end,"%Y-%m-%d")
end_dt=(end_dt+datetime.timedelta(days=1)).strftime("%Y-%m-%d")
for i in range(len(stock)):
#     a=round(yf.download(stock[i],start=start_dt,end=end_dt),2)
    a=yf.download(stock[i],start=start_dt,end=end_dt)
    stock_list.append(a)

for i in stock_list:
    i.drop(["Open"],axis=1,inplace=True)
    i.drop(["High"],axis=1,inplace=True)
    i.drop(["Low"],axis=1,inplace=True)
    i.drop(["Close"],axis=1,inplace=True)
    i.drop(["Volume"],axis=1,inplace=True)

if len(stock)==1:
    price=stock_list[0].copy()
    price.rename(columns={'Adj Close':stock[0]},inplace=True)
else:
    price=stock_list[0].copy()
    price.rename(columns={'Adj Close':stock[0]},inplace=True)
    for i in range(1,len(stock)):
        price=pd.merge(price,stock_list[i],left_index=True,right_index=True,how='inner')
        price.rename(columns={'Adj Close':stock[i]},inplace=True)
        
stock_df=price.copy()
stock_m_df=stock_df.resample('BM').last()
stock_m_df=stock_m_df.loc[start_dt:end]
# print(stock_list[0])
stock_m_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                   KO        PYPL
Date
2019-12-31  50.008430  108.169998
2020-01-31  52.764091  113.889999
2020-02-28  48.327934  107.989998
2020-03-31  40.330265   95.739998
2020-04-30  41.824989  123.000000
2020-05-29  42.545006  155.009995
2020-06-30  41.092129  174.229996
2020-07-31  43.446560  196.070007
2020-08-31  45.552670  204.139999
2020-09-30  45.773060  197.029999
2020-10-30  44.558514  186.130005
2020-11-30  48.215702  214.119995
2020-12-31  51.243206  234.199997
2021-01-29  44.991989  234.309998
2021-02-26  45.776894  259.850006
2021-03-31  49.662853  242.839996
2021-04-30  50.859436  262.290009
2021-05-31  52.093704  260.019989
2021-06-30  51.366077  291.480011
2021-07-30  54.137997  275.529999
2021-08-31  53.454510  288.660004
2021-09-30  50.185158  260.209991
2021-10-29  53.915329  232.589996
2021-11-30  50.555054  184.889999
2021-12-31  57.070827  188.580002
2022-01-31  58.805794  171.940002
2022-02-28  59.991356  111.930000
2022-03-31  60.217480  115.650002
2022-04-29  62.752441   87.930000
2022-05-31  61.557808   85.209999
2022-06-30  61.542770   69.839996
2022-07-29  62.775387   86.529999
2022-08-31  60.368855   93.440002
2022-09-30  55.202068   86.070000
2022-10-31  58.976143   83.580002
2022-11-30  63.125793   78.410004
2022-12-30  63.125793   71.220001

In [25]:

TotalCost_list=[]
for i in range(1,len(stock_m_df)+1):
    TotalCost=PMT*i
    TotalCost_list.append(TotalCost)
stock_m_df['total_cost']=TotalCost_list

# 各支股票股數計算
unit_name_list=[]
    
for k in range(len(stock_m_df.columns[0:len(stock)])):
    print(k)
    preNAV_list=[0]
    unit_list=[PMT*ratio[k]/stock_m_df[stock_m_df.columns[k]].iloc[0]]
    unit_name_list.append("unit"+str(k+1))
    for i in stock_m_df[stock_m_df.columns[k]].iloc[1:]:
        unit=unit_list[-1]+PMT*ratio[k]/i
        unit=unit
        unit_list.append(unit)
    stock_m_df[unit_name_list[k]]=unit_list

stock_m_df.head()

0
1

                   KO        PYPL  total_cost      unit1      unit2
Date
2019-12-31  50.008430  108.169998        1000   9.998314   4.622354
2020-01-31  52.764091  113.889999        2000  19.474456   9.012555
2020-02-28  48.327934  107.989998        3000  29.820439  13.642613
2020-03-31  40.330265   95.739998        4000  42.218076  18.865091
2020-04-30  41.824989  123.000000        5000  54.172652  22.930132

In [26]:
# 各支股票淨值計算
preNAV_name_list=[]
for k in range(len(stock)):
    preNAV_list=[0]
    preNAV_name_list.append("preNAV"+str(k+1))
    for i,j in enumerate(stock_m_df[stock_m_df.columns[k]].iloc[1:]):
        preNAV=stock_m_df[unit_name_list[k]].iloc[i]*j
        preNAV_list.append(preNAV)
    stock_m_df[preNAV_name_list[k]]=preNAV_list

stock_m_df.head()

,KO,PYPL,total_cost,unit1,unit2,preNAV1,preNAV2
Date,,,,,,,
2019-12-31,50.008430,108.169998,1000,9.998314,4.622354,0.000000,0.000000
2020-01-31,52.764091,113.889999,2000,19.474456,9.012555,527.551965,526.439869
2020-02-28,48.327934,107.989998,3000,29.820439,13.642613,941.160217,973.265782
2020-03-31,40.330265,95.739998,4000,42.218076,18.865091,1202.666210,1306.143769
2020-04-30,41.824989,123.000000,5000,54.172652,22.930132,1765.770593,2320.406189

In [27]:

stock_m_df["final"]=stock_m_df[preNAV_name_list[0]].copy()
for i in range(1,len(stock)):
    stock_m_df["final"]+=stock_m_df[preNAV_name_list[i]]
for i in range(len(stock_m_df)):
    stock_m_df["final"][i]+=PMT
stock_m_df

C:\Users\PHIL\AppData\Local\Temp\ipykernel_5580\2403098464.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_m_df["final"][i]+=PMT

,KO,PYPL,total_cost,unit1,unit2,preNAV1,preNAV2,final
Date,,,,,,,,
2019-12-31,50.008430,108.169998,1000,9.998314,4.622354,0.000000,0.000000,1000.000000
2020-01-31,52.764091,113.889999,2000,19.474456,9.012555,527.551965,526.439869,2053.991834
2020-02-28,48.327934,107.989998,3000,29.820439,13.642613,941.160217,973.265782,2914.425999
2020-03-31,40.330265,95.739998,4000,42.218076,18.865091,1202.666210,1306.143769,3508.809978
2020-04-30,41.824989,123.000000,5000,54.172652,22.930132,1765.770593,2320.406189,5086.176782
2020-05-29,42.545006,155.009995,6000,65.924913,26.155730,2304.775795,3554.399576,6859.175371
2020-06-30,41.092129,174.229996,7000,78.092693,29.025500,2708.995003,4557.112740,8266.107743
2020-07-31,43.446560,196.070007,8000,89.601084,31.575610,3392.858873,5691.029996,10083.888869
2020-08-31,45.552670,204.139999,9000,100.577389,34.024909,4081.568578,6445.844915,11527.413493
2020-09-30,45.773060,197.029999,10000,111.500845,36.562594,4603.734861,6703.927791,12307.662652
2020-10-30,44.558514,186.130005,11000,122.722045,39.248888,4968.311933,6805.395743,12773.707675
2020-11-30,48.215702,214.119995,12000,133.092111,41.584027,5917.129575,8403.971739,15321.101314
2020-12-31,51.243206,234.199997,13000,142.849502,43.718955,6820.066470,9738.979084,17559.045554
2021-01-29,44.991989,234.309998,14000,153.962592,45.852880,6427.083249,10243.788196,17670.871445
2021-02-26,45.776894,259.850006,15000,164.885133,47.777067,7047.929177,11914.871143,19962.800320
2021-03-31,49.662853,242.839996,16000,174.953020,49.836036,8188.666146,11602.182767,20790.848913
2021-04-30,50.859436,262.290009,17000,184.784037,51.742323,8898.011919,13071.494273,22969.506192
2021-05-31,52.093704,260.019989,18000,194.382126,53.665252,9626.084978,13454.038190,24080.123167
2021-06-30,51.366077,291.480011,19000,204.116177,55.380635,9984.647333,15642.348191,26626.995525
2021-07-30,54.137997,275.529999,20000,213.351834,57.195320,11050.440893,15259.026382,27309.467275
2021-08-31,53.454510,288.660004,21000,222.705582,58.927461,11404.617701,16510.001210,28914.618910
2021-09-30,50.185158,260.209991,22000,232.668687,60.848986,11176.514770,15333.514215,27510.028985
2021-10-29,53.915329,232.589996,23000,241.942487,62.998692,12544.408806,14152.865509,27697.274316
2021-11-30,50.555054,184.889999,24000,251.832696,65.703003,12231.415449,11647.828100,24879.243549
2021-12-31,57.070827,188.580002,25000,260.593739,68.354397,14372.300322,12390.272340,27762.572662
2022-01-31,58.805794,171.940002,26000,269.096303,71.262388,15324.421672,11752.855213,28077.276884
2022-02-28,59.991356,111.930000,27000,277.430837,75.729466,16143.452058,7976.399141,25119.851199
2022-03-31,60.217480,115.650002,28000,285.734074,80.052855,16706.185776,8758.112846,26464.298622
2022-04-29,62.752441,87.930000,29000,293.701891,85.739197,17930.510709,7039.047597,25969.558306
2022-05-31,61.557808,85.209999,30000,301.824338,91.607053,18079.644596,7305.836878,26385.481473
2022-06-30,61.542770,69.839996,31000,309.948769,98.766274,18575.105901,6397.836226,25972.942127
2022-07-29,62.775387,86.529999,32000,317.913674,104.544617,19457.153844,8546.245583,29003.399427
2022-08-31,60.368855,93.440002,33000,326.196090,109.895644,19192.084323,9768.649269,29960.733593
2022-09-30,55.202068,86.070000,34000,335.253722,115.704869,18006.698867,9458.718069,28465.416936
2022-10-31,58.976143,83.580002,35000,343.731726,121.687162,19771.971409,9670.613192,30442.584600
2022-11-30,63.125793,78.410004,36000,351.652419,128.063899,21698.337964,9541.490789,32239.828753
2022-12-30,63.125793,71.220001,37000,359.573111,135.084399,22198.337964,9120.711042,32319.049007

In [28]:
# monthly_return
stdev=stock_m_df.copy()
monthly_return=[(stdev["final"][0]/PMT)-1]
for i in range(1,len(stdev)):
    mreturn=((stdev["final"][i]-PMT)/stdev["final"][i-1])-1
    monthly_return.append(mreturn*100)

stock_m_df["monthly return(%)"]=monthly_return
# stock_m_df["monthly return(%)"]=round(dfm["monthly return(%)"],2)

# CAGR
CAGR=round(((stock_m_df['final'][-1]/stock_m_df['total_cost'][0])**(1/((len(stock_m_df)-1)/12))-1)*100,2)
stock_m_df

,KO,PYPL,total_cost,unit1,unit2,preNAV1,preNAV2,final,monthly return(%)
Date,,,,,,,,,
2019-12-31,50.008430,108.169998,1000,9.998314,4.622354,0.000000,0.000000,1000.000000,0.000000
2020-01-31,52.764091,113.889999,2000,19.474456,9.012555,527.551965,526.439869,2053.991834,5.399183
2020-02-28,48.327934,107.989998,3000,29.820439,13.642613,941.160217,973.265782,2914.425999,-6.794858
2020-03-31,40.330265,95.739998,4000,42.218076,18.865091,1202.666210,1306.143769,3508.809978,-13.917527
2020-04-30,41.824989,123.000000,5000,54.172652,22.930132,1765.770593,2320.406189,5086.176782,16.454775
2020-05-29,42.545006,155.009995,6000,65.924913,26.155730,2304.775795,3554.399576,6859.175371,15.198028
2020-06-30,41.092129,174.229996,7000,78.092693,29.025500,2708.995003,4557.112740,8266.107743,5.932672
2020-07-31,43.446560,196.070007,8000,89.601084,31.575610,3392.858873,5691.029996,10083.888869,9.893183
2020-08-31,45.552670,204.139999,9000,100.577389,34.024909,4081.568578,6445.844915,11527.413493,4.398349
2020-09-30,45.773060,197.029999,10000,111.500845,36.562594,4603.734861,6703.927791,12307.662652,-1.906333
2020-10-30,44.558514,186.130005,11000,122.722045,39.248888,4968.311933,6805.395743,12773.707675,-4.338395
2020-11-30,48.215702,214.119995,12000,133.092111,41.584027,5917.129575,8403.971739,15321.101314,12.113896
2020-12-31,51.243206,234.199997,13000,142.849502,43.718955,6820.066470,9738.979084,17559.045554,8.079995
2021-01-29,44.991989,234.309998,14000,153.962592,45.852880,6427.083249,10243.788196,17670.871445,-5.058214
2021-02-26,45.776894,259.850006,15000,164.885133,47.777067,7047.929177,11914.871143,19962.800320,7.311065
2021-03-31,49.662853,242.839996,16000,174.953020,49.836036,8188.666146,11602.182767,20790.848913,-0.861359
2021-04-30,50.859436,262.290009,17000,184.784037,51.742323,8898.011919,13071.494273,22969.506192,5.669116
2021-05-31,52.093704,260.019989,18000,194.382126,53.665252,9626.084978,13454.038190,24080.123167,0.481582
2021-06-30,51.366077,291.480011,19000,204.116177,55.380635,9984.647333,15642.348191,26626.995525,6.423856
2021-07-30,54.137997,275.529999,20000,213.351834,57.195320,11050.440893,15259.026382,27309.467275,-1.192505
2021-08-31,53.454510,288.660004,21000,222.705582,58.927461,11404.617701,16510.001210,28914.618910,2.215904
2021-09-30,50.185158,260.209991,22000,232.668687,60.848986,11176.514770,15333.514215,27510.028985,-8.316174
2021-10-29,53.915329,232.589996,23000,241.942487,62.998692,12544.408806,14152.865509,27697.274316,-2.954394
2021-11-30,50.555054,184.889999,24000,251.832696,65.703003,12231.415449,11647.828100,24879.243549,-13.784861
2021-12-31,57.070827,188.580002,25000,260.593739,68.354397,14372.300322,12390.272340,27762.572662,7.569881
2022-01-31,58.805794,171.940002,26000,269.096303,71.262388,15324.421672,11752.855213,28077.276884,-2.468416
2022-02-28,59.991356,111.930000,27000,277.430837,75.729466,16143.452058,7976.399141,25119.851199,-14.094763
2022-03-31,60.217480,115.650002,28000,285.734074,80.052855,16706.185776,8758.112846,26464.298622,1.371216
2022-04-29,62.752441,87.930000,29000,293.701891,85.739197,17930.510709,7039.047597,25969.558306,-5.648139
2022-05-31,61.557808,85.209999,30000,301.824338,91.607053,18079.644596,7305.836878,26385.481473,-2.249083
2022-06-30,61.542770,69.839996,31000,309.948769,98.766274,18575.105901,6397.836226,25972.942127,-5.353472
2022-07-29,62.775387,86.529999,32000,317.913674,104.544617,19457.153844,8546.245583,29003.399427,7.817587
2022-08-31,60.368855,93.440002,33000,326.196090,109.895644,19192.084323,9768.649269,29960.733593,-0.147106
2022-09-30,55.202068,86.070000,34000,335.253722,115.704869,18006.698867,9458.718069,28465.416936,-8.328623
2022-10-31,58.976143,83.580002,35000,343.731726,121.687162,19771.971409,9670.613192,30442.584600,3.432824
2022-11-30,63.125793,78.410004,36000,351.652419,128.063899,21698.337964,9541.490789,32239.828753,2.618845
2022-12-30,63.125793,71.220001,37000,359.573111,135.084399,22198.337964,9120.711042,32319.049007,-2.856032

In [29]:
def MDD(dr):
#     dr=df.pct_change(1)
    r=dr.add(1).cumprod()
    dd=r.div(r.cummax()).sub(1)
    mdd=dd.min()
    end=dd.idxmin()
    start=r.loc[:end[0]].idxmax()
    days=end-start
    return mdd[0], start[0], end[0], days[0]

# MAX Drawdown

In [30]:
mdd=(stock_m_df["monthly return(%)"][0:]/100).copy()
mdd=mdd.to_frame()
MDD(mdd)
# print(ddddd)

(-0.39621486630318514,
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2022-09-30 00:00:00'),
 Timedelta('395 days 00:00:00'))

# stdev

In [31]:
df_stdev=stock_m_df.copy()
# df_stdev=df_stdev["monthly return(%)"]
risk=df_stdev["monthly return(%)"][1:].std()
risk_Y=risk*12**0.5
risk_Y=round(risk_Y,2)
ar=df_stdev["monthly return(%)"][1:].mean()*12
std=risk_Y
# Sharpe
sp=ar/std
sp=round(sp,2)
# sortino
sortino=[]
for i in range(1,len(df_stdev)):
    if df_stdev["monthly return(%)"][i]<0:
        sortino.append(df_stdev["monthly return(%)"][i])
    else:
        sortino.append(0)

std_D=DataFrame(sortino).std()*12**0.5
st=ar/std_D
st=round(st,3)



print("年化標準差:",risk_Y,"%")
print('Sharpe ratio:',sp)
print('sortino ratio:',st[0])


# df_stdev.plot()

年化標準差: 26.57 %
Sharpe ratio: 0.28
sortino ratio: 0.503

In [32]:
stock_m_df_c=stock_m_df.copy()
stock_m_df_c['final']=round(stock_m_df_c['final'])

# stock_m_df_c

In [34]:
print("========================================================")
print("標的:",stock)
print("回測區間:",start,'~',end)
print("總損益:",stock_m_df_c['final'][-1])
print("CAGR:",CAGR,'%')
print("標準差:","{:.2f}".format(risk_Y),"%")
print('Sharpe ratio:',sp)
print('sortino ratio:',st[0])
print('最大回撤(MAX Drawdown):',round(MDD(mdd)[0]*100,2),'%')
print('最大回撤區間:',MDD(mdd)[1].strftime('%Y-%m-%d'),'~',MDD(mdd)[2].strftime('%Y-%m-%d'))
print("========================================================")

========================================================
標的: ['KO', 'PYPL']
回測區間: 2020-1-1 ~ 2022-12-31
總損益: 32319.0
CAGR: 218.53 %
標準差: 26.57 %
Sharpe ratio: 0.28
sortino ratio: 0.503
最大回撤(MAX Drawdown): -39.62 %
最大回撤區間: 2021-08-31 ~ 2022-09-30
========================================================

In [35]:
stock_m_df_2=stock_m_df.copy()
final_l=stock_m_df_2['final'].copy()
for i in range(len(stock_m_df_2)):
    final_l[i]=PMT


for i in range(1,len(stock_m_df_2)):
    for j in range(len(stock)):
        stock_m_df_2[preNAV_name_list[j]].iloc[i]=stock_m_df_2[unit_name_list[j]].iloc[i-1]*stock_m_df_2[stock[j]].iloc[i]
        final_l[i]+=stock_m_df_2[preNAV_name_list[j]].iloc[i]
    stock_m_df_2['final'][i]=final_l[i]    
    for j in range(len(stock)):        
        stock_m_df_2[unit_name_list[j]].iloc[i]=(((stock_m_df_2[preNAV_name_list[j]].iloc[i]/(stock_m_df_2['final'].iloc[i]-PMT))*PMT)/stock_m_df_2[stock[j]].iloc[i])
        stock_m_df_2[unit_name_list[j]].iloc[i]+=stock_m_df_2[unit_name_list[j]].iloc[i-1]
     
        
stock_m_df_2

C:\Users\PHIL\AppData\Local\Temp\ipykernel_5580\3029264020.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_m_df_2[preNAV_name_list[j]].iloc[i]=stock_m_df_2[unit_name_list[j]].iloc[i-1]*stock_m_df_2[stock[j]].iloc[i]
C:\Users\PHIL\AppData\Local\Temp\ipykernel_5580\3029264020.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_m_df_2['final'][i]=final_l[i]
C:\Users\PHIL\AppData\Local\Temp\ipykernel_5580\3029264020.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_m_df_2[unit_name_list[j]].iloc[i]=(((stock_m_df_2[preNAV_name_list[j]].iloc[i]/(stock_m_df_2['final'].iloc[i]-PMT))*PMT)/stock_m_df_2[stock[j]].iloc[i])
C:\Users\PHIL\AppData\Local\Temp\ipykernel_5580\3029264020.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_m_df_2[unit_name_list[j]].iloc[i]+=stock_m_df_2[unit_name_list[j]].iloc[i-1]

,KO,PYPL,total_cost,unit1,unit2,preNAV1,preNAV2,final,monthly return(%)
Date,,,,,,,,,
2019-12-31,50.008430,108.169998,1000,9.998314,4.622354,0.000000,0.000000,1000.000000,0.000000
2020-01-31,52.764091,113.889999,2000,19.484454,9.007923,527.551965,526.439869,2053.991834,5.399183
2020-02-28,48.327934,107.989998,3000,29.662245,13.713251,941.643425,972.765548,2914.408974,-6.794858
2020-03-31,40.330265,95.739998,4000,41.483674,19.178455,1196.286211,1312.906614,3509.192825,-13.917527
2020-04-30,41.824989,123.000000,5000,51.616462,23.862978,1735.054237,2358.949968,5094.004205,16.454775
2020-05-29,42.545006,155.009995,6000,60.372401,27.910965,2196.022666,3699.000023,6895.022689,15.198028
2020-06-30,41.092129,174.229996,7000,68.593315,31.711603,2480.830485,4862.927309,8343.757794,5.932672
2020-07-31,43.446560,196.070007,8000,76.050863,35.159327,2980.143580,6217.694229,10197.837809,9.893183
2020-08-31,45.552670,204.139999,9000,83.197329,38.463233,3464.319832,7177.424918,11641.744750,4.398349
2020-09-30,45.773060,197.029999,10000,90.503924,41.841169,3808.196305,7578.410722,12386.607027,-1.906333
2020-10-30,44.558514,186.130005,11000,98.160370,45.380846,4032.720328,7787.897013,12820.617342,-4.338395
2020-11-30,48.215702,214.119995,12000,104.953561,48.521429,4732.871172,9716.946583,15449.817755,12.113896
2020-12-31,51.243206,234.199997,13000,111.222486,51.419636,5378.156964,11363.718495,17741.875459,8.079995
2021-01-29,44.991989,234.309998,14000,117.744936,54.435052,5004.120893,12048.134872,18052.255766,-5.058214
2021-02-26,45.776894,259.850006,15000,123.772336,57.221599,5389.997423,14144.948561,20534.945984,7.311065
2021-03-31,49.662853,242.839996,16000,129.947806,60.076601,6146.887380,13895.692944,21042.580325,-0.861359
2021-04-30,50.859436,262.290009,17000,135.757719,62.762601,6609.072106,15757.492146,23366.564252,5.669116
2021-05-31,52.093704,260.019989,18000,141.561401,65.445721,7072.122469,16319.530887,24391.653356,0.481582
2021-06-30,51.366077,291.480011,19000,146.934245,67.929658,7271.453897,19076.119402,27347.573299,6.423856
2021-07-30,54.137997,275.529999,20000,152.443305,70.476570,7954.725681,18716.658606,27671.384287,-1.192505
2021-08-31,53.454510,288.660004,21000,157.793592,72.950078,8148.782123,20343.766860,29492.548983,2.215904
2021-09-30,50.185158,260.209991,22000,163.659255,75.661853,7918.896286,18982.339287,27901.235573,-8.316174
2021-10-29,53.915329,232.589996,23000,169.853323,78.525453,8823.742566,17598.190044,27421.932611,-2.954394
2021-11-30,50.555054,184.889999,24000,177.204526,81.924012,8586.943874,14518.570949,24105.514823,-13.784861
2021-12-31,57.070827,188.580002,25000,184.136749,85.128871,10113.208924,15449.230305,26562.439229,7.569881
2022-01-31,58.805794,171.940002,26000,191.367619,88.471798,10828.307669,14637.058251,26465.365921,-2.468416
2022-02-28,59.991356,111.930000,27000,200.317119,92.609271,11480.402917,9902.648404,22383.051322,-14.094763
2022-03-31,60.217480,115.650002,28000,209.113430,96.675923,12062.592030,10710.262364,23772.854394,1.371216
2022-04-29,62.752441,87.930000,29000,218.784268,101.146881,13122.378269,8500.713953,22623.092222,-5.648139
2022-05-31,61.557808,85.209999,30000,228.690013,105.726438,13467.879975,8618.725596,23086.605571,-2.249083
2022-06-30,61.542770,69.839996,31000,239.347502,110.653537,14074.216949,7383.934045,22458.150993,-5.353472
2022-07-29,62.775387,86.529999,32000,249.077082,115.151652,15025.132023,9574.850439,25599.982462,7.817587
2022-08-31,60.368855,93.440002,33000,258.732629,119.615540,15036.498142,10759.770614,26796.268756,-0.147106
2022-09-30,55.202068,86.070000,34000,269.259679,124.482335,14282.576271,10295.309454,25577.885725,-8.328623
2022-10-31,58.976143,83.580002,35000,279.503871,129.218361,15879.897301,10404.233779,27284.131080,3.432824
2022-11-30,63.125793,78.410004,36000,289.566685,133.870534,17643.903615,10132.012171,28775.915787,2.618845
2022-12-30,63.125793,71.220001,37000,299.977739,138.683703,18279.126726,9534.259595,28813.386321,-2.856032

In [36]:
# monthly_return
stdev_2=stock_m_df_2.copy()
monthly_return=[(stdev_2["final"][0]/PMT)-1]
for i in range(1,len(stdev_2)):
    mreturn=((stdev_2["final"][i]-PMT)/stdev_2["final"][i-1])-1
    monthly_return.append(mreturn*100)

stock_m_df_2["monthly return(%)"]=monthly_return

# stock_m_df_2

In [37]:
df_stdev_2=stock_m_df_2.copy()
# df_stdev=df_stdev["monthly return(%)"]
risk_2=df_stdev_2["monthly return(%)"][1:].std()
risk_Y_2=risk_2*12**0.5
risk_Y_2=risk_Y_2
ar_2=df_stdev_2["monthly return(%)"][1:].mean()*12
std_2=risk_Y_2
sp_2=ar_2/std_2
sp_2=round(sp_2,2)
# sortino
sortino_2=[]
for i in range(1,len(df_stdev_2)):
    if df_stdev_2["monthly return(%)"][i]<0:
        sortino_2.append(df_stdev_2["monthly return(%)"][i])
    else:
        sortino_2.append(0)
# print(sortino,len(sortino),DataFrame(sortino).std())
sttd_D_2=DataFrame(sortino_2).std()*12**0.5
stt_2=ar_2/sttd_D_2
stt_2=round(stt_2,3)
df_stdev_2["monthly return(%)"][1:]
std_D_2=df_stdev_2["monthly return(%)"][1:][df_stdev_2["monthly return(%)"]<0].std()*12**0.5
st_2=ar_2/std_D_2
st_2=round(st_2,3)


print("年化標準差:",risk_Y_2,"%")
print('Sharpe ratio:',sp_2)
print('sortino ratio:',stt_2[0])
print('sortino ratio:',st_2)

年化標準差: 29.391681438350645 %
Sharpe ratio: 0.1
sortino ratio: 0.17
sortino ratio: 0.166

In [38]:
stock_m_df_2_c=stock_m_df_2.copy()

for i in range(len(stock)):
    stock_m_df_2_c[stock[i]]=round(stock_m_df_2_c[stock[i]],2)
    stock_m_df_2_c[preNAV_name_list[i]]=round(stock_m_df_2_c[preNAV_name_list[i]])
    stock_m_df_2_c['final']=round(stock_m_df_2_c['final'])
    stock_m_df_2_c['monthly return(%)']=round(stock_m_df_2_c['monthly return(%)'],2)
stock_m_df_2_c

,KO,PYPL,total_cost,unit1,unit2,preNAV1,preNAV2,final,monthly return(%)
Date,,,,,,,,,
2019-12-31,50.01,108.17,1000,9.998314,4.622354,0.0,0.0,1000.0,0.00
2020-01-31,52.76,113.89,2000,19.484454,9.007923,528.0,526.0,2054.0,5.40
2020-02-28,48.33,107.99,3000,29.662245,13.713251,942.0,973.0,2914.0,-6.80
2020-03-31,40.33,95.74,4000,41.483674,19.178455,1196.0,1313.0,3509.0,-13.90
2020-04-30,41.82,123.00,5000,51.616462,23.862978,1735.0,2359.0,5094.0,16.67
2020-05-29,42.55,155.01,6000,60.372401,27.910965,2196.0,3699.0,6895.0,15.72
2020-06-30,41.09,174.23,7000,68.593315,31.711603,2481.0,4863.0,8344.0,6.51
2020-07-31,43.45,196.07,8000,76.050863,35.159327,2980.0,6218.0,10198.0,10.24
2020-08-31,45.55,204.14,9000,83.197329,38.463233,3464.0,7177.0,11642.0,4.35
2020-09-30,45.77,197.03,10000,90.503924,41.841169,3808.0,7578.0,12387.0,-2.19
2020-10-30,44.56,186.13,11000,98.160370,45.380846,4033.0,7788.0,12821.0,-4.57
2020-11-30,48.22,214.12,12000,104.953561,48.521429,4733.0,9717.0,15450.0,12.71
2020-12-31,51.24,234.20,13000,111.222486,51.419636,5378.0,11364.0,17742.0,8.36
2021-01-29,44.99,234.31,14000,117.744936,54.435052,5004.0,12048.0,18052.0,-3.89
2021-02-26,45.78,259.85,15000,123.772336,57.221599,5390.0,14145.0,20535.0,8.21
2021-03-31,49.66,242.84,16000,129.947806,60.076601,6147.0,13896.0,21043.0,-2.40
2021-04-30,50.86,262.29,17000,135.757719,62.762601,6609.0,15757.0,23367.0,6.29
2021-05-31,52.09,260.02,18000,141.561401,65.445721,7072.0,16320.0,24392.0,0.11
2021-06-30,51.37,291.48,19000,146.934245,67.929658,7271.0,19076.0,27348.0,8.02
2021-07-30,54.14,275.53,20000,152.443305,70.476570,7955.0,18717.0,27671.0,-2.47
2021-08-31,53.45,288.66,21000,157.793592,72.950078,8149.0,20344.0,29493.0,2.97
2021-09-30,50.19,260.21,22000,163.659255,75.661853,7919.0,18982.0,27901.0,-8.79
2021-10-29,53.92,232.59,23000,169.853323,78.525453,8824.0,17598.0,27422.0,-5.30
2021-11-30,50.56,184.89,24000,177.204526,81.924012,8587.0,14519.0,24106.0,-15.74
2021-12-31,57.07,188.58,25000,184.136749,85.128871,10113.0,15449.0,26562.0,6.04
2022-01-31,58.81,171.94,26000,191.367619,88.471798,10828.0,14637.0,26465.0,-4.13
2022-02-28,59.99,111.93,27000,200.317119,92.609271,11480.0,9903.0,22383.0,-19.20
2022-03-31,60.22,115.65,28000,209.113430,96.675923,12063.0,10710.0,23773.0,1.74
2022-04-29,62.75,87.93,29000,218.784268,101.146881,13122.0,8501.0,22623.0,-9.04
2022-05-31,61.56,85.21,30000,228.690013,105.726438,13468.0,8619.0,23087.0,-2.37
2022-06-30,61.54,69.84,31000,239.347502,110.653537,14074.0,7384.0,22458.0,-7.05
2022-07-29,62.78,86.53,32000,249.077082,115.151652,15025.0,9575.0,25600.0,9.54
2022-08-31,60.37,93.44,33000,258.732629,119.615540,15036.0,10760.0,26796.0,0.77
2022-09-30,55.20,86.07,34000,269.259679,124.482335,14283.0,10295.0,25578.0,-8.28
2022-10-31,58.98,83.58,35000,279.503871,129.218361,15880.0,10404.0,27284.0,2.76
2022-11-30,63.13,78.41,36000,289.566685,133.870534,17644.0,10132.0,28776.0,1.80
2022-12-30,63.13,71.22,37000,299.977739,138.683703,18279.0,9534.0,28813.0,-3.34

In [39]:
mdd_2=(stock_m_df_2["monthly return(%)"][0:]/100).copy()
mdd_2=mdd_2.to_frame()
MDD(mdd_2)

(-0.49797869319003474,
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2022-06-30 00:00:00'),
 Timedelta('303 days 00:00:00'))

In [40]:

CAGR_2=round(((stock_m_df_2['final'][-1]/stock_m_df_2['total_cost'][0])**(1/((len(stock_m_df_2)-1)/12))-1)*100,2)
print("========================================================")
print("標的:",stock)
print("回測區間:",start,'~',end)
print("總損益:",round(stock_m_df_2['final'][-1]))
print("CAGR:",CAGR_2,'%')
print("標準差:","{:.2f}".format(risk_Y_2),"%")
print('Sharpe ratio:',sp_2)
print('Sortino ratio:',stt_2[0])
print('最大回撤(MAX. Drawdown):',round(MDD(mdd_2)[0]*100,2),'%')
print('最大回撤區間:',MDD(mdd_2)[1].strftime('%Y-%m-%d'),'~',MDD(mdd_2)[2].strftime('%Y-%m-%d'))
print("========================================================")

========================================================
標的: ['KO', 'PYPL']
回測區間: 2020-1-1 ~ 2022-12-31
總損益: 28813
CAGR: 206.57 %
標準差: 29.39 %
Sharpe ratio: 0.1
Sortino ratio: 0.17
最大回撤(MAX. Drawdown): -49.8 %
最大回撤區間: 2021-08-31 ~ 2022-06-30
========================================================

In [41]:
stock_m_df_2_c

,KO,PYPL,total_cost,unit1,unit2,preNAV1,preNAV2,final,monthly return(%)
Date,,,,,,,,,
2019-12-31,50.01,108.17,1000,9.998314,4.622354,0.0,0.0,1000.0,0.00
2020-01-31,52.76,113.89,2000,19.484454,9.007923,528.0,526.0,2054.0,5.40
2020-02-28,48.33,107.99,3000,29.662245,13.713251,942.0,973.0,2914.0,-6.80
2020-03-31,40.33,95.74,4000,41.483674,19.178455,1196.0,1313.0,3509.0,-13.90
2020-04-30,41.82,123.00,5000,51.616462,23.862978,1735.0,2359.0,5094.0,16.67
2020-05-29,42.55,155.01,6000,60.372401,27.910965,2196.0,3699.0,6895.0,15.72
2020-06-30,41.09,174.23,7000,68.593315,31.711603,2481.0,4863.0,8344.0,6.51
2020-07-31,43.45,196.07,8000,76.050863,35.159327,2980.0,6218.0,10198.0,10.24
2020-08-31,45.55,204.14,9000,83.197329,38.463233,3464.0,7177.0,11642.0,4.35
2020-09-30,45.77,197.03,10000,90.503924,41.841169,3808.0,7578.0,12387.0,-2.19
2020-10-30,44.56,186.13,11000,98.160370,45.380846,4033.0,7788.0,12821.0,-4.57
2020-11-30,48.22,214.12,12000,104.953561,48.521429,4733.0,9717.0,15450.0,12.71
2020-12-31,51.24,234.20,13000,111.222486,51.419636,5378.0,11364.0,17742.0,8.36
2021-01-29,44.99,234.31,14000,117.744936,54.435052,5004.0,12048.0,18052.0,-3.89
2021-02-26,45.78,259.85,15000,123.772336,57.221599,5390.0,14145.0,20535.0,8.21
2021-03-31,49.66,242.84,16000,129.947806,60.076601,6147.0,13896.0,21043.0,-2.40
2021-04-30,50.86,262.29,17000,135.757719,62.762601,6609.0,15757.0,23367.0,6.29
2021-05-31,52.09,260.02,18000,141.561401,65.445721,7072.0,16320.0,24392.0,0.11
2021-06-30,51.37,291.48,19000,146.934245,67.929658,7271.0,19076.0,27348.0,8.02
2021-07-30,54.14,275.53,20000,152.443305,70.476570,7955.0,18717.0,27671.0,-2.47
2021-08-31,53.45,288.66,21000,157.793592,72.950078,8149.0,20344.0,29493.0,2.97
2021-09-30,50.19,260.21,22000,163.659255,75.661853,7919.0,18982.0,27901.0,-8.79
2021-10-29,53.92,232.59,23000,169.853323,78.525453,8824.0,17598.0,27422.0,-5.30
2021-11-30,50.56,184.89,24000,177.204526,81.924012,8587.0,14519.0,24106.0,-15.74
2021-12-31,57.07,188.58,25000,184.136749,85.128871,10113.0,15449.0,26562.0,6.04
2022-01-31,58.81,171.94,26000,191.367619,88.471798,10828.0,14637.0,26465.0,-4.13
2022-02-28,59.99,111.93,27000,200.317119,92.609271,11480.0,9903.0,22383.0,-19.20
2022-03-31,60.22,115.65,28000,209.113430,96.675923,12063.0,10710.0,23773.0,1.74
2022-04-29,62.75,87.93,29000,218.784268,101.146881,13122.0,8501.0,22623.0,-9.04
2022-05-31,61.56,85.21,30000,228.690013,105.726438,13468.0,8619.0,23087.0,-2.37
2022-06-30,61.54,69.84,31000,239.347502,110.653537,14074.0,7384.0,22458.0,-7.05
2022-07-29,62.78,86.53,32000,249.077082,115.151652,15025.0,9575.0,25600.0,9.54
2022-08-31,60.37,93.44,33000,258.732629,119.615540,15036.0,10760.0,26796.0,0.77
2022-09-30,55.20,86.07,34000,269.259679,124.482335,14283.0,10295.0,25578.0,-8.28
2022-10-31,58.98,83.58,35000,279.503871,129.218361,15880.0,10404.0,27284.0,2.76
2022-11-30,63.13,78.41,36000,289.566685,133.870534,17644.0,10132.0,28776.0,1.80
2022-12-30,63.13,71.22,37000,299.977739,138.683703,18279.0,9534.0,28813.0,-3.34

In [ ]:
# return_name_list=[]
# cc=[]
# for k in range(len(dfm.columns[0:len(stock_list)])):
#     return_name_list.append("return"+str(k+1)+'(%)')
# #     dfm[cc[k]]=(dfm[aa[k]]/(dfm['total_cost']*ratio[k]-PMT*ratio[k])-1)*100
#     dfm[return_name_list[k]]=round((dfm[preNAV_name_list[k]]/(dfm['total_cost']*ratio[k]-PMT*ratio[k])-1)*100,2)

# dfm.head()

In [ ]:
# T_R=TR/100
# print('總回報',TR,'%')
# months=len(dfm)
# print("共有:",months,'月')
# IRR=(1+T_R)**(12/months)-1
# print('內部報酬率(IRR):',round(IRR*100,2),'%')